BasedOnStyle: LLVM
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Attach
#BreakStringLiterals: true
IndentWidth: 4
AlignAfterOpenBracket: Align
ColumnLimit: 90
#ExperimentalAutoDetectBinPacking: true
BinPackArguments: true
BinPackParameters: true
#ReflowComments: true
AlignTrailingComments: true
Language: Cpp
SpacesBeforeTrailingComments: 8
SpaceBeforeAssignmentOperators: true
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyBreakFirstLessLess: 0
PenaltyBreakAssignment: 0
PenaltyBreakTemplateDeclaration: 0
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyExcessCharacter: 2
PenaltyBreakString: 120
BreakBeforeBinaryOperators: None
IncludeCategories:
  - Regex:           '<deai/.*\.h>'
    Priority:        1
  - Regex:           '<.*\.h>'
    Priority:        2
  - Regex:           '".*\.h"'
    Priority:        3
SortIncludes: true
ForEachMacros:   [ list_for_each_entry, list_for_each_entry_safe, HASH_ITER ]

AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -8
